<!DOCTYPE html>
<html>
<head>
  <title>Ember Firebase Chat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>  
  <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase-auth-client.js"></script>
  <script type='text/javascript'
        src='https://login.persona.org/include.js'>
  </script>
  <script type="text/javascript">
    window.DB_NAME = "<%= ENV['DB_NAME'] %>"
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
